.cursor-pointer {
    cursor: pointer;
}

.highlight-overlay-green {
    background-color: green; /* color elements as green */
    opacity: 0.4;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
  }

.highlight-overlay-blue {
    background-color: blue; /* color elements as blue */
    opacity: 0.4;
    pointer-events: none; /* no pointer events, allows clicking through onto the element */
    border-radius: 10px;
}